<button [routerLink]="['/Car']" (click)="resetForm()" type="button" class="btn btn-primary">รายการรถ</button>
<button [routerLink]="['/VehicleListing']" (click)="resetForm()" type="button" class="btn btn-primary">รายการประมูล</button>


<div class="ui-g-12">
	<div [routerLink]="['/Bank']" class="jumbotron text-center">
		<img src="http://hddfhm.com/images/animated-car-clipart-5.png" alt="Mountain View" style="width:128px;height:90px;">
	</div>
</div>

<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
			</div>
			<form [formGroup]="myForm">
				<div class="modal-body">



					<div class="form-group text-left">
						<label for="listingId">เลขไอดีใบประมูล</label>


						<input formControlName="listingId" type="text" class="form-control">


					</div>

					<div class="form-group text-left">
						<label for="reservePrice">ราคาขั้นต่ำ</label>


						<input formControlName="reservePrice" type="number" step='any' class="form-control">


					</div>

					<div class="form-group text-left">
						<label for="description">รายละเอียด</label>


						<input formControlName="description" type="text" class="form-control">


					</div>

					<div class="form-group text-left">
						<label for="state">สถานะ</label>

						<select formControlName="state" class="form-control">
                <option value="FOR_SALE">FOR_SALE</option>
                <option value="two">Two</option>
            </select>


					</div>

					<!-- <div class="form-group text-left">
						<label for="offers">offers</label>


						<textarea formControlName="offers" class="form-control" rows="3"></textarea>



					</div> -->

					<div class="form-group text-left">
						<label for="vehicle">รถ(ทะเบียน)</label>


						<textarea formControlName="vehicle" class="form-control" rows="3"></textarea>



					</div>



				</div>
				<div class="modal-footer">
					<button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
			</div>
			<form [formGroup]="myForm">
				<div class="modal-body">



					<div class="form-group text-left">
						<label for="listingId">เลขไอดีใบประมูล</label>


						<input [ngModel]="listingId" formControlName="listingId" type="text" class="form-control">


					</div>

					<div class="form-group text-left">
						<label for="reservePrice">ราคาขั้นต่ำ</label>


						<input [ngModel]="reservePrice" formControlName="reservePrice" type="number" step='any' class="form-control">


					</div>

					<div class="form-group text-left">
						<label for="description">รายละเอียด</label>


						<input [ngModel]="description" formControlName="description" type="text" class="form-control">


					</div>

					<div class="form-group text-left">
						<label for="state">สถานะ</label>

						<select formControlName="state" class="form-control">
                <option value="FOR_SALE">FOR_SALE</option>
                <option value="two">Two</option>
            </select>
						<!-- <textarea [ngModel]="state" formControlName="state" class="form-control" rows="3"></textarea> -->


					</div>

					<div class="form-group text-left">
						<label for="offers">ผู้ประมูล</label>


						<textarea [ngModel]="offers" formControlName="offers" class="form-control" rows="3"></textarea>


					</div>

					<div class="form-group text-left">
						<label for="vehicle">รถ</label>


						<textarea [ngModel]="vehicle" formControlName="vehicle" class="form-control" rows="3"></textarea>


					</div>



				</div>
				<div class="modal-footer">
					<button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
			</div>
			<form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
				<div class="modal-body">
					Are you sure you want to delete this asset?
				</div>
				<div class="modal-footer">
					<button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="show" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="showLabel">Show Offers</h4>
			</div>
			<table class="table table-bordered table-responsive table-striped">
				<thead class="thead">
					<tr class="thead-cols">

						<th class="info">ชื่อ</th>

						<th class="info">ราคาที่ประมูล</th>

					</tr>
				</thead>
				<tbody *ngFor="let asset of allAssets">
					<tr *ngFor="let asset2 of asset.offers">

						<td >
							{{asset2.member.substring( 41, end )}}
							<br>

						</td>

						<td>
							{{asset2.bidPrice}}
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>








<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
	<h1 id='assetName'>รายารประมูล</h1>
	<div class="row">
		<div class="col-md-12 text-right">
			<button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-responsive table-striped">
				<thead class="thead">
					<tr class="thead-cols">

						<th class="info">เลขไอดีใบประมูล</th>

						<th class="info">ราคาขั้นต่ำ</th>

						<th class="info">รายละเอียด</th>

						<th class="info">สถานะ</th>

						<th class="info">ผู้ประมูล</th>

						<th class="info">รถ</th>

						<th class="info">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let asset of allAssets">


						<td>{{asset.listingId}}</td>

						<td>{{asset.reservePrice}}</td>

						<td>{{asset.description}}</td>

						<td>{{asset.state}}</td>

						<td>
							<button type="button" class="btn btn-button" data-toggle="modal" data-target="#show">Show</button>
						</td>

						<td>{{asset.vehicle.substring( 42, end )}}</td>

						<td>
							<button (click)="getForm(asset.listingId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update</button>

							<button (click)="setId(asset.listingId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete</button>
							<button (click)="closeBid(asset.listingId);" type="button" class="btn btn-button">Close Bid</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
