
<div class="ui-g-12">
	<div class="ui-g-4">
		<div [routerLink]="['/Car']" class="jumbotron text-center">
			<img src="http://hddfhm.com/images/animated-car-clipart-5.png" alt="Mountain View" style="width:256px;height:256px;">
			<h1>รถ</h1>
		</div>
	</div>
	<div class="ui-g-4">
		<div  [routerLink]="['/Bank']" class="jumbotron text-center">
			<img src="http://icons.iconarchive.com/icons/icons-land/gis-gps-map/256/Bank-icon.png" alt="Mountain View"
			  style="width:256px;height:256px;">
			<h1>ธนาคาร</h1>
		</div>
	</div>
	<div class="ui-g-4">
		<div [routerLink]="['/Member']" class="jumbotron text-center">
			<img src="http://www.freeiconspng.com/uploads/cartoon-png-16.png" alt="Mountain View" style="width:100px;height:256px;">
			<h1>ลูกค้า</h1>
		</div>
	</div>
</div>
